python-dateutil

# loading is married to postgres, hence
psycopg2

# for dump_filing_details.py helper
requests

# for the demo django app
Django==1.8.4

# for parsing fec feed
lxml


## CLI requirements:
# requires unzip installed to unarchive zipped fec daily files
