python-dateutil

# loading is married to postgres, hence
psycopg2

# for dump_filing_details.py helper
requests

# for the demo django app
Django==1.8.4

# for parsing fec feed
lxml

# for hstore; may need to peg version, dunno.
# docs here: http://djangonauts.github.io/django-hstore/ 
# must run 'CREATE EXTENSION hstore;' in the db, or in template1 as per docs
django-hstore

## CLI requirements:
# requires unzip installed to unarchive zipped fec daily files
